### More Important Functions

In [1]:
# value_counts
# sort_values
# rank
# sort index
# set index
# rename index -> rename
# reset index
# unique & nunique
# isnull/notnull/hasnans
# dropna
# fillna
# drop_duplicates
# drop
# apply
# isin
# corr
# nlargest -> nsmallest
# insert
# copy

In [2]:
import numpy as np
import pandas as pd

In [4]:
a = pd.Series([1,1,1,2,2,3])
a.value_counts()
#gives frequency count

1    3
2    2
3    1
Name: count, dtype: int64

In [5]:
# value_counts(series and dataframe)


marks = pd.DataFrame([
    [100,80,10],
    [90,70,7],
    [120,100,14],
    [80,70,14],
    [80,70,14]
],columns=['iq','marks','package'])

marks

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     70       14
4   80     70       14

In [7]:
marks.value_counts()

iq   marks  package
80   70     14         2
90   70     7          1
100  80     10         1
120  100    14         1
Name: count, dtype: int64

In [10]:
ipl = pd.read_csv(r"C:\Users\Ganesh Raju Salunke\Documents\github\Python\files\Dataframe\ipl-matches.csv")
ipl.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon

In [11]:
# find which player has won most potm -> in finals and qualifiers

In [16]:
ipl[~ipl['MatchNumber'].str.isdigit()]['Player_of_Match']

0              HH Pandya
1             JC Buttler
2             RM Patidar
3              DA Miller
74          F du Plessis
75               VR Iyer
76             SP Narine
77            RD Gaikwad
134             TA Boult
135           MP Stoinis
136        KS Williamson
137            JJ Bumrah
194            JJ Bumrah
195         F du Plessis
196              RR Pant
197             SA Yadav
254            SR Watson
255          Rashid Khan
256           AD Russell
257         F du Plessis
314            KH Pandya
315            KV Sharma
316      NM Coulter-Nile
317    Washington Sundar
373          BCJ Cutting
374            DA Warner
375         MC Henriques
376       AB de Villiers
433            RG Sharma
434              A Nehra
435       AB de Villiers
436           KA Pollard
492            MK Pandey
493             V Sehwag
494             SK Raina
495             UT Yadav
552           KA Pollard
553      Harbhajan Singh
554             BJ Hodge
555           MEK Hussey
628             MS Bisla
629              M Vijay
630             MS Dhoni
631            YK Pathan
702              M Vijay
703             CH Gayle
704             MM Patel
705             SK Raina
775             SK Raina
776             A Kumble
777         DE Bollinger
778           KA Pollard
835             A Kumble
836            MK Pandey
837         AC Gilchrist
892            YK Pathan
893              M Ntini
894            SR Watson
Name: Player_of_Match, dtype: object